@page "/"

@inject HttpClient Http
@*<SurveyPrompt Title="How is Blazor working for you?" />*@



<div class="mat-layout-grid-cell mat-layout-grid-cell-span-12 mat-elevation-z5 index-row-item mdc-theme--surface">

    <h2 class="text-center m-3">Select a book</h2>

    <table class="table table-bordered table-hover justify-content-sm-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>

            </tr>
        </thead>

        <tbody>
            @if (TestFasls != null)
            {
                @foreach (var item in TestFasls)
                {
                    <tr>
                        <td>@item.Id    </td>
                        <td> <a href="Huruufs/@item.Id" class="btn ">@item.Name </a> </td>
                    </tr>
                }
            }

        </tbody>

    </table>



</div>




<!-- #region commented -->
@*@if (Fusuuls != null)
    {
        foreach (var item in Fusuuls)
        {

            <h2> @item.Huruufs.Count Huruufs</h2>
            <h2>@item.Id @item.ArabicName</h2>

            foreach (var it in item.Huruufs)
            {
                <h2>@it.Abyaats.Count Abayaats</h2>
                <h2>@it.Id  @it.Name</h2>

                foreach (var i in it.Abyaats)
                {
                    <h2>@i.Id @i.Text</h2>
                }
            }
        }
    }*@


<!-- #endregion -->



@code
{
    private List<Fasl> Fusuuls;
    private List<TestFasl> TestFasls;
    protected override async Task OnInitializedAsync()
    {
        Fusuuls = await Http.GetFromJsonAsync<List<Fasl>>("sample-data/1.json");

        // forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");

        TestFasls = new List<TestFasl>()
{

            new TestFasl(){Id = 1, Name = "Taysir Wusul"},
            new TestFasl(){Id = 2, Name = "Ikseeru Saadaat  "},
            new TestFasl(){Id = 3, Name = "Salwatu Shujun"},
            new TestFasl(){Id = 4, Name = "Awthaqul Ura"},
            new TestFasl(){Id = 5, Name = "Shifaul Aqsam"},
            new TestFasl(){Id = 6, Name = "Manasikul Ahlil Widad"},
            new TestFasl(){Id = 7, Name = "Nurul Haqq"},
            new TestFasl(){Id = 8, Name = "Sayrul Qalb"},
            new TestFasl(){Id = 9, Name = "Kanzul Aarifin"},

        };




    }



    class TestFasl
    {
        public short Id { get; set; }

        public string Name { get; set; }

    }

}


